<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .emailError,.passwordError{
color:red
        }
        .gof{
            background-color: chartreuse;
        }

    </style>
</head>
<body class="gof">
    <form>
        <div>
            <label for="email">Email:</label><br>
            <input type="text" placeholder="type your email address" id="email" name="email" required><br>
            <div class="emailError"></div>

        </div>

        <div>
            <label for="password">password:</label><br>
            <input type="password" placeholder="type your password" id="password" name="password" required><br>
            <div class="passwordError"></div>
        </div>
        <div><br>
            <button type="submit">Login</button><br>
        </div>
    </form>
    <script>
        const form = document.querySelector('form')

        const emailError = document.querySelector(".emailError");
        const passwordError = document.querySelector(".passwordError");
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const email = form.email.value;
            const password = form.password.value;
            console.log(email, password);


                const res= await fetch("/login",{
                    method: 'POST',
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({ email,password}),
                });
                const result=await res.json();
                console.log(result);
                if(result.success){
                    location.assign('/dashboard')
                   

                }else{
                    emailError.textContent = result.errors.email;
                    passwordError.textContent = result.errors.password
                }
            })
    </script>
</body>
</html>