<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <li ><a href="/dashboard">log out</a></li>
    </nav>
  
    <form action="/register"method="get">
        <div>
            <label for="Email">Email:</label><br>
            <input type="text" placeholder="type your email address"id="email"required><br>

                   </div>

                   <div>
                   <label for="password">password:</label><br>
                   <input type="text" placeholder="type your password"id="email"required><br>
                </div>
                <div>
                    <button type="sign up"> sign up</button>
                </div>
    </form>
</body>
</html>